boto3
celery[redis]
daphne
Django
django-celery-beat
django-choices
django-filter
django-health-check
django-iam-dbauth
django-netfields
django-structlog
djangorestframework
drf-nested-routers
drf-oidc-auth
psycopg2
