{
    auto_https off
    admin off
}

:8000 {
    respond /status 200
    metrics /metrics
    root * /static_root/
    try_files {path} /index.html?{query}&p={path}
    file_server
    log
    encode zstd gzip
}
