{
    auto_https off
    admin off
}

:8000 {
    root * /static_root/
    try_files {path} /index.html?{query}&p={path}
    file_server
    log
    encode zstd gzip
}

:8800 {
    metrics
    encode zstd gzip
}
