{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <title>Login • AWS Tools</title>
</head>
<body>
<div class="container" role="main">
    <div class="border-bottom mt-4 mb-4 pl-4 pr-4">
        <h1 class="display-4 text-center">AWS Tools Login</h1>
    </div>

    <div class="row justify-content-center m-5">
        <div class="card">
            <h4 class="card-title card-header text-center">SSO providers</h5>
            <ul class="list-unstyled list-group list-group-flush socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
    </div>

{#    <div class="col-auto">#}
{#        Log in with an identity provider:#}
{#        <ul class="socialaccount_providers list-unstyled">#}
{#            {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#        </ul>#}
{#    </div>#}
</div>
<script>
    var socialaccount_provider_links = document.getElementsByClassName("socialaccount_provider"),
        len = socialaccount_provider_links !== null ? socialaccount_provider_links.length : 0,
        i = 0;
    for (i; i < len; i++) {
        socialaccount_provider_links[i].classList.add('list-group-item', 'list-group-item-action');
    }
</script>
</body>
</html>
