{% load bootstrap4 %}
{% load socialaccount %}

<div class="list-group list-group-flush justify-content-between d-flex">
    {% get_providers as socialaccount_providers %}
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
                <li>
                    <a title="{{brand.name}}"
                       class="socialaccount_provider {{provider.id}} {{brand.id}}"
                       href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                    >{{brand.name}}</a>
                </li>
            {% endfor %}
        {% endif %}
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} list-group-item list-group-item-action pl-5 pr-5"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
    {% empty %}
        <span class="list-group-item list-group-item-action pl-5 pr-5 disabled"><em>No SSO providers configured</em></span>
    {% endfor %}
</div>
