{% extends 'account/base.html' %}

{% block login_action %}Logout{% endblock %}

{% block card_title %}Do you want to logout?{% endblock %}

{% block card_content %}
    <form method="post" action="{% url 'account_logout' %}" class="list-group list-group-flush text-center">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="list-group-item list-group-item-action border-0" style="cursor:pointer">Yes</button>
        <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="list-group-item list-group-item-action border-0">No</a>
    </form>
{% endblock %}
