{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} • AWS Tools</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include 'aws_tools/menu.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>{% block page_header %}Header{% endblock %}
            <span class="pull-right"><small>{% block page_header_subtext %}{% endblock %}</small></span>
        </h1>
    </div>

    <div class="col-md-12">
    {% block content %}
        teh content
    {% endblock %}
    </div>
</div>
</body>
</html>
