{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWSTools • VueJS</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">

    </div>
</body>
<script>
    const store = new Vuex.Store({
        state: {
            aws_accounts: []
        },
        actions: {
            LOAD_AWS_ACCOUNT_LIST: function({ commit }) {
                axios.get('http://127.0.0.1:8000/api/AWSAccounts').then((response) => {
                    commit('SET_ACCOUNT_LIST', { list: response.data })
                }, (err) => {
                    console.log(err)
                })
            }
        },
        mutations: {
            SET_ACCOUNT_LIST: (state, { list }) => {
                state.aws_accounts = list
            }
        },
        getters: {
            aws_accounts: state => {
                return state.aws_accounts
            }
        }
    });

    new Vue({
        store,
    }).$mount('#app')
</script>
</html>