{% extends 'aws_tools/base.html' %}
{% load bootstrap3 %}

{% block page_title %}{{ instance.name }}{% endblock %}

{% block page_header %}{{ instance.name }}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-md-5">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">Details</div>
            <!-- List group -->
            <table class="table">
                <tr><td class="text-right"><small>Account</small></td><td>{{ instance.aws_account }}</td></tr>
                <tr><td class="text-right"><small>Region</small></td><td>{{ instance.region_name }}</td></tr>
                <tr><td class="text-right"><small>ID</small></td><td>{{ instance.id }}</td></tr>
                <tr>
                    <td class="text-right">
                    {% if instance.backup %}
                        <small>Backup time</small></td><td>{{ instance.backup_time }}
                    {% else %}
                        <small>Backup</small></td><td>{{ instance.backup }}
                    {% endif %}
                    <div class="btn-group btn-group-xs pull-right" role="group">
                        {% if instance.backup %}
                            <a class="btn btn-danger"
                               role="button"
                               href="{% url 'enable_backup_instance' instance_id=instance.id enable=False %}">
                                Disable
                            </a>
                        {% else %}
                            <a class="btn btn-success"
                               role="button"
                               href="{% url 'enable_backup_instance' instance_id=instance.id enable=True %}">
                                Enable
                            </a>
                        {% endif %}
                        <a class="btn btn-primary" role="button" href="{% url 'snapshot_instance' instance.id %}">Snapshot all</a>
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-7">
    {% if volumes %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">Volumes</div>
            <!-- List group -->
            <ul class="list-group">
                {% for volume in volumes %}
                    <a href="{% url 'volume' volume_id=volume.id %}" class="list-group-item" >
                        {{ volume.name }}
                        <span class="badge">{{ volume.ebssnapshot_set.latest.created_at }}</span>
                    </a>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <span class="list-group-item">No volumes found.</span>
    {% endif %}
    </div>
{% endblock %}