{% if messages %}
    {% load alert_level %}
    {% for message in messages %}
            <div class="fixed-top container">
                <div class="alert alert-{% alert_level message %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close mr-auto" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
    {% endfor %}
{% endif %}
