{% extends 'aws_tools/base.html' %}
{% load bootstrap4 %}

{% block page_title %}{{ instance.name }}{% endblock %}

{% block page_header %}{{ instance.name }}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-md-5">
        <div class="card">
            <h5 class="card-title card-header text-center">Details</h5>
            {% include 'aws_tools/instance_details.html' %}
        </div>
    </div>

    <div class="col-md-7">
    {% if volumes %}
        <div class="card">
            <h5 class="card-title card-header text-center">Volumes</h5>
            <div class="card-text list-group list-group-flush">
                {% for volume in volumes %}
                    <a href="{% url 'volume' volume_id=volume.id %}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {{ volume.name }}
                        <span class="badge badge-secondary badge-pill">
                            {{ volume.ebssnapshot_set.latest.created_at }}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <span class="list-group-item">No volumes found.</span>
    {% endif %}
    </div>
{% endblock %}
