{% extends 'aws_tools/base.html' %}
{% load bootstrap4 %}
{% load rest_framework %}

{% block page_title %}{{ instance.name }}{% endblock %}

{% block page_header %}{{ instance.name }}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-md-5">
        <div class="card">
            <h5 class="card-title card-header text-center">Details</h5>

            <table class="card-text table">
                <tr><td class="text-right"><small>Account</small></td><td>{{ instance.aws_account }}</td></tr>
                <tr><td class="text-right"><small>Region</small></td><td>{{ instance.region_name }}</td></tr>
                <tr><td class="text-right"><small>ID</small></td><td>{{ instance.id }}</td></tr>
                <tr><td class="text-right"><small>Backup</small></td>
                    <td class="d-flex justify-content-between align-items-center">
                        {% if instance.backup %}
                            {{ instance.backup_time }}
                        {% else %}
                            No
                        {% endif %}
                        {# Backup enable form #}
                        <div class="btn-group btn-group-sm">
                            <form onsubmit="myFunction(event)" id="instanceDetailForm" class="form-inline">
                                {% csrf_token %}
                                <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="myFunction(event)">
                                    <label class="btn btn-success active">
                                        <input type="radio" name="options" id="enabled" autocomplete="off" checked>Enabled
                                    </label>
                                    <label class="btn btn-danger">
                                        <input type="radio" name="options" id="disabled" autocomplete="off" checked>Disabled
                                    </label>
                                </div>
                            </form>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function myFunction(event) {
        event.preventDefault();
        console.log('submitted!')

        function create_post() {
            $.ajax({
                url: "{% url 'instance' instance_id=instance.pk %}",
                type: "POST",
                data: { backup: "{{ instance.backup|yesno:'false,true' }}" },

                success : function(json) {
                    console.log('success');
                    console.log(json);
                },

                error : function(xhr, errmsg,err) {
                    console.log('error');
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }

        create_post();
    }

        // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("ACCEPT", 'application/json');
            }
        }
    });
    </script>


{% endblock %}
