<table class="card-text table">
    <tr><td class="text-right"><small>Account</small></td><td>{{ instance.aws_account }}</td></tr>
    <tr><td class="text-right"><small>Region</small></td><td>{{ instance.region_name }}</td></tr>
    <tr><td class="text-right"><small>ID</small></td><td>{{ instance.id }}</td></tr>
    <tr>
        <td class="text-right">
            {% if instance.backup %}
                <small>Backup time</small></td><td>{{ instance.backup_time }}
                {% else %}
                <small>Backup</small></td><td class="d-flex justify-content-between align-items-center">{{ instance.backup }}
            {% endif %}
            <form method="post" class="btn-group btn-group-sm">
                {% csrf_token %}
                {% if instance.backup %}
                    <button type="submit"
                            class="btn btn-danger"
                            formaction="{% url 'enable_backup_instance' instance_id=instance.id enable=False %}">
                        Disable
                    </button>
                {% else %}
                    <button type="submit"
                            class="btn btn-success"
                            formaction="{% url 'enable_backup_instance' instance_id=instance.id enable=True %}">
                        Enable
                    </button>
                {% endif %}
                <button type="submit"
                        class="btn btn-primary"
                        formaction="{% url 'snapshot_instance' instance.id %}">
                    Snapshot
                </button>
            </form>
            </td>
    </tr>
</table>
