{% extends 'aws_tools/base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_header %}Instances{% endblock %}

{% block content %}
    <ul class="nav nav-pills nav-stacked col-md-2 pull-left">
        <li role="presentation" {% if not account_id %}class="active"{% endif %}><a href="{% url 'main' %}">All</a></li>
        {% for account in accounts %}
        <li role="presentation" {% if account_id == account.id %}class="active"{% endif %}><a href="{% url 'main' account_id=account.id %}">{{ account.name }}</a></li>
        {% endfor %}
    </ul>

    <ul class="list-group col-md-8 pull-right">
    {% for instance in instances %}
        <a href="{% url 'instance' instance_id=instance.id %}" class="list-group-item" >
            {{ instance.name }}
        </a>
    {% empty %}
        <span class="list-group-item">No instances found.</span>
    {% endfor %}
    </ul>
{% endblock %}