{% extends 'aws_tools/base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_header %}Instances{% endblock %}

{% block content %}
    <nav class="nav nav-pills flex-column col-auto">
        <a role="presentation" class="nav-item nav-link {% if not account_id %}active{% endif %}" href="{% url 'main' %}">All</a>
        {% for account in accounts %}
        <a role="presentation" class="nav-item nav-link {% if account_id == account.id %}active{% endif %}" href="{% url 'main' account_id=account.id %}">{{ account.name }}</a>
        {% endfor %}
    </nav>

    <ul class="list-group col-8 pull-right">
    {% for instance in instances %}
        <a href="{% url 'instance' instance_id=instance.id %}" class="list-group-item" >
            {{ instance.name }}
        </a>
    {% empty %}
        <span class="list-group-item">No instances found.</span>
    {% endfor %}
    </ul>
{% endblock %}
