{% load bootstrap4 %}
{% load icons %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          {% icon 'sunglasses' %} AWS Tools
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'main' %}">Instances</a></li>
      <li><a href="#">Queue</a></li>
    </ul>
    <p class="navbar-text navbar-right">
        <span title="{{ user.username }}">
            {% icon 'user' %} {{ user.get_full_name }} {% icon 'ellipsis-v' %}
        </span>
        <a href="{% url 'account_logout' %}" class="navbar-link">Logout</a>
    </p>
  </div>
</nav>
