{% extends 'aws_tools/base.html' %}
{% load bootstrap4 %}

{% block page_title %}{{ instance.name }}{% endblock %}

{% block page_header %}{{ volume.name }}{% endblock %}
{% block page_header_subtext %}<a href="{% url 'instance' instance_id=instance.id %}">{{ instance.name }}</a>{% endblock %}

{% block content %}
    {% comment %}
    <a href="https://{{ volume.region_name }}.console.aws.amazon.com/ec2/v2/home?region={{ volume.region_name }}#Snapshots:visibility=owned-by-me;volumeId={{ volume.id }};sort=snapshotId">Show on AWS</a>
    {%  endcomment %}
    {% for snapshot in snapshots %}
        <span class="list-group-item" >
            {{ snapshot.name }}
            <span class="badge">{{ snapshot.state }}</span>
            <span class="badge">{{ snapshot.created_at }}</span>
        </span>
    {% empty %}
        <span class="list-group-item">No snapshots found.</span>
    {% endfor %}
{% endblock %}
